doctype html
html
    head
        title #{title}
        link(rel='stylesheet', href="/css/mystyles.css")
        script(src="node_modules/jquery/dist/jquery.js", type="text/javscript")

    body
      div.hiddendata(value="isdataloaded") #{isdataloaded}
      div
        p.is-size-1.has-text-centered this is the bulma tester.

      div.columns
        div.column.is-two-thirds
          form(action='/api/SETTINGsSet/', method="post")
            input(type="hidden", name="portal2", value=iam)
            div.columns
              div.column
                input.slider.has-output.is-fullwidth(id="sliderWithValue" name="slider1" step="1" min="0" max="14" value=showday_amount type="range" )
                output(for="sliderWithValue" ) #{showday_amount}
              div.column
                input(class="button", type="submit", value="submit" )
            
        div.column
          form(action="/api/notionUpdate", method="post") 
            input(type="hidden",name="portal", value=iam )
            input(class="button", type="submit", value="refresh Data" )

        div.column
          form(action="/api/pythonCalc/test", method="post")
            input(type="hidden",name="dir", value=iam )
            input(class="button", type="submit", value="Set density of props" )
      

      script.
        //refresh hidden datas and hide it (css dosen't work cause by bulma sibalnom)
        var hiddens = document.getElementsByClassName('hiddendata')
        var hidden_values = {}
        for (var i=0;i < hiddens.length; i++)
        {
          var target = hiddens[i]
          target.hidden = true
          hidden_values[target.value:target.outerText]
        }
        document.write(hidden_values)
        //refresh Data result showing


        //sliders value showing code
        var sliders = document.querySelectorAll('input[type="range"].slider')
        sliders.forEach((slider) => {
          
          var id = slider.id 

          var outputsSet = document.getElementsByTagName('output')
          for (var i=0; i < outputsSet.length; i++) 
          {
            var output = outputsSet[i]
            if (output.htmlFor == id)
            {
              // connect the output and slider.
              slider.addEventListener('input', (event) => {
                output.value = event.target.value
              })
            }
          }
        }) 

        